/*BOOTSTRAP OVERRIDE*/
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/*BOOTSTRAP OVERRIDE*/

html, body{
  height: 100%;
  font-size: 18px;
}


hr {
  width: 100%;
}

.navbar {
  position: absolute;
  background-color: transparent !important;
  width: 100%;
  border-bottom: 1px solid transparent;
  font-family: 'Quicksand', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
  color:#fafafa !important;
}

.navbar-inverse .navbar-brand {
   color:#fafafa;
   font-size: 25px;
}

.navbar-inverse .navbar-brand:hover {
   color:#fafafa;
}

header {
  height: 100%;
  width: 100%;
  background: url(/static/img/home.jpg) no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 600px;
  overflow: hidden;
}

.transparent {
  background-color: rgba(0, 0,0 , 0.5);
  height: 100%;
  border: 1px solid transparent;
  min-height: 400px;
}

.leyend {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  margin: 0 0 0 -50%;
  color:white;
  //border: 1px solid red;
}

.leyend .title{
  font-family: 'Quicksand', sans-serif;
  font-size: 3.5em;
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
}

.leyend .subtitle{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7em;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  /*border: 1px solid #000;*/
  margin-bottom: 80px;
}

.leyend .arrow{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  margin-top: 60px;
  -webkit-animation-delay: 2.2s;
  -moz-animation-delay: 2.2s;
}



/*
  COPIED FROM STACKOVERFLOW -> IT WORKS
*/


section{
  padding: 10px;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  //border: 2px solid orange !important;
}

section .title{
  //margin-top: 50px;
  //margin-bottom: 28px;
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  //border: 2px solid blue !important;
}

section article{
  //vertical-align: middle;
  //border: 2px solid red !important;
  position: relative;
  overflow: hidden;
}

section article .text{
  //border: 1px solid green !important;
}

section article .image{
  //border: 1px solid orange;
  margin: auto;
}

section article .title{
  //margin-top: 28px;
  font-size: 1.5em;
}

section article .subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #8D8D8D;
  padding: 0px 0px 8px 0px;
}

.text-color {
  color:#2196F3 ;
}

.teammate{
  margin-bottom: 0px;
  margin-top: 40px;
}

.team-name{
  margin-bottom: 0px;
}

.team-role{
  margin-bottom: 5px;
  font-size: 0.9em;
}

.team-twitter-link{
  font-size: 0.9em;
}

.team-twitter-link:hover{
  text-decoration:none;
}

footer{
  background-color: #2196F3;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;

  margin-top:50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

footer a{
  color: white;
}

.footer-section{
  margin-top:40px;
}

.copyright{
  margin-top: 40px;
  font-size: 0.8em;
}

.social-media{
  margin: 10px;
}

footer a:hover, footer a:visited, footer a:active , footer a:focus {
  text-decoration: none;
  color: white;
}

.logo {
  height: 300px;
  margin-top: 3%;
}

.contact{
  padding-left: 5em;
}

.mail:hover{
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar{
    background-color: rgba(0,0,0,0.7) !important;
  }
  .leyend{
    left: 0%;
    width: 100%;
    margin: -100px 0 0 0;
  }
  .leyend .title{
    font-size: 2em;
  }
  .leyend .subtitle{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .teammate{
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .contact{
    padding-left: 0;
    text-align: center;
  }
}
